@import "tailwindcss";

@layer utilities {
  /* FONTS */
  .font-brand {
    font-family: var(--font-averia-serif);
  }
  .font-ui {
    font-family: var(--font-lora);
  }
}

@theme {
  /* SPACING & STYLING */
  --radius-card: 16px;
  --shadow-card: 0 10px 30px -10px rgba(0, 0, 0, 0.2);

  /* LIGHT THEME COLORS */
  --color-bg: #FFFCF1;
  --color-surface: #ffffff;
  --color-text: #0E0E0E;
  --color-text-light: #FFFCF1;
  --color-text-secondary: #f5f1eb;
  --color-border: #e5ddd0;
  --color-primary: #FF6A3F;
  --color-accent: #094D3B; 
  --color-accent-fixed: #094D3B; 
  --color-secondary: #FFE352; 
}

/* DARK THEME */
[data-theme="dark"] {
  --color-bg: #1a1714;
  --color-surface: #22201d;
  --color-text: #f5f1eb;
  --color-text-secondary: #0E0E0E;
  --color-border: #2e2a26;
  --color-accent: #7cd69a; 
  --color-secondary: #FFE352; 
  --color-primary: #FF6A3F;
}

