@import "tailwindcss";

@layer utilities {
  /* FONTS */
  .font-brand {
    font-family: var(--font-averia-serif);
  }
  .font-ui {
    font-family: var(--font-lora);
  }
}

@theme {
  /* SPACING & STYLING */
  --radius-card: 16px;
  --shadow-card: 0 10px 30px -10px rgba(0, 0, 0, 0.2);

  /* LIGHT THEME COLORS */
  --color-bg: #FFF9F0;
  --color-surface: #ffffff;
  --color-text: #0E0E0E;
  --color-text-secondary: #f5f1eb;
  --color-border: #e5ddd0;
  --color-primary: #AA2A27; /* terracota */
  --color-accent: #4b6b4f; /* verde ervas */
  --color-secondary: #C75B33; /* especiarias douradas */
}

/* DARK THEME */
[data-theme="dark"] {
  --color-bg: #1a1714;
  --color-surface: #22201d;
  --color-text: #f5f1eb;
  --color-text-secondary: #0E0E0E;
  --color-border: #2e2a26;
  --color-primary: #e57350; /* terracota + brilho */
  --color-accent: #7ba582; /* verde ervas claro */
  --color-secondary: #d8b679; /* especiarias douradas */
}

@custom-variant dark (&:where(.dark, .dark *));